{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Rezerwacja {{ entity.client }}`a</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Data złożenia rezerwacji</th>
                <td>{{ entity.bookingDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Data zameldowana</th>
                <td>{{ entity.checkInDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Data wymeldowania</th>
                <td>{{ entity.checkOutDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

        <a class="button" href="{{ path('admin_booking') }}">
            Powrót do rezerwacji
        </a>
        <a class="button" href="{{ path('admin_booking_edit', { 'id': entity.id }) }}">
            Edytuj
        </a>
    {{ form(delete_form) }}

{% endblock %}
