{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Booking</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Bookingdate</th>
                <td>{{ entity.bookingDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Checkindate</th>
                <td>{{ entity.checkInDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Checkoutdate</th>
                <td>{{ entity.checkOutDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_booking') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_booking_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
