{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Standard</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nazwa standardu</th>
                <td>{{ entity.standardName }}</td>
            </tr>
            <tr>
                <th>Cena za łóżko</th>
                <td>{{ entity.priceForBed }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>


        <a class="button" href="{{ path('admin_standard') }}">
            Powrót do listy
        </a>
        <a class="button" href="{{ path('admin_standard_edit', { 'id': entity.id }) }}">
            Edycja
        </a>
            
        {{ form(delete_form) }}
{% endblock %}
