{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Lista pracowników</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Wynagrodzenie</th>
                <th>Stanowisko pracy</th>
                <th>Komentarz</th>
                <th>Nazwa ulicy</th>
                <th>Numer domu</th>
                <th>Numer mieszkania</th>
                <th>Kod pocztowy</th>
                <th>Pesel</th>
                <th>Numer telefonu</th>
                <th>Nr. konta bankowego</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_worker_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.surname }}</td>
                <td>{{ entity.salary }}</td>
                <td>{{ entity.workplace }}</td>
                <td>{{ entity.shortCommentsContent(5) }}</td>
                <td>{{ entity.addressStreetName }}</td>
                <td>{{ entity.addressHouseNumber }}</td>
                <td>{{ entity.addressApartmentNumber }}</td>
                <td>{{ entity.addressZipCode }}</td>
                <td>{{ entity.pesel }}</td>
                <td>{{ entity.telephoneNumber }}</td>
                <td>{{ entity.bankAccountNumber }}</td>
                <td>

                        <a class="tiny button" href="{{ path('admin_worker_show', { 'id': entity.id }) }}">Pokaż</a>

                        <a class="tiny button" href="{{ path('admin_worker_edit', { 'id': entity.id }) }}">Edytuj</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="button" href="{{ path('admin_worker_new') }}">
                Dodaj nowego pracownika
            </a>
        
    {% endblock %}
