{% extends '::admin_base.html.twig' %}

{% block body -%}
    <h1>Pracownik {{ entity.name }} {{ entity.surname }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Imie</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ entity.surname }}</td>
            </tr>
            <tr>
                <th>Wynagrodzenie</th>
                <td>{{ entity.salary }}</td>
            </tr>
            <tr>
                <th>Stanowisko pracy</th>
                <td>{{ entity.workplace }}</td>
            </tr>
            <tr>
                <th>Komentarz</th>
                <td>{{ entity.comments }}</td>
            </tr>
            <tr>
                <th>Nazwa ulicy</th>
                <td>{{ entity.addressStreetName }}</td>
            </tr>
            <tr>
                <th>Numer domu</th>
                <td>{{ entity.addressHouseNumber }}</td>
            </tr>
            <tr>
                <th>Numer mieszkania</th>
                <td>{{ entity.addressApartmentNumber }}</td>
            </tr>
            <tr>
                <th>Kod pocztowy</th>
                <td>{{ entity.addressZipCode }}</td>
            </tr>
            <tr>
                <th>Pesel</th>
                <td>{{ entity.pesel }}</td>
            </tr>
            <tr>
                <th>Numer telefonu</th>
                <td>{{ entity.telephoneNumber }}</td>
            </tr>
            <tr>
                <th>Nr. konra bankowego</th>
                <td>{{ entity.bankAccountNumber }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">

        <a class="button" href="{{ path('admin_worker') }}">
            Powrót do listy
        </a>

        <a class="button" href="{{ path('admin_worker_edit', { 'id': entity.id }) }}">
            Edytuj
        </a>

        {{ form(delete_form) }}
</ul>
{% endblock %}
